{% extends "debsso-base.html" %}

{% block head_resources %}
{{block.super}}
<style type="text/css">
#new_cert_row {
  text-align: right;
}
</style>
{% endblock %}

{% block content %}

<h1 class="announce">Debian Single Sign On, browser enrollment status</h1>

<p>
<a href="{% url 'spkac_enroll' domain=domain %}">Get new certificate</a>
</p>

<table>
  <thead>
    <tr>
      <th>Serial</th>
      <th>Comment</th>
      <th>Generated</th>
      <th>Expiration</th>
      <th>Revoked</th>
      <th>Validity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for c in certs %}
    <tr>
      <td>{{c.serial_formatted}}</td>
      <td>{{c.comment}}</td>
      <td>{{c.generated|date:"Y-m-d"}}</td>
      <td>
        {% if c.expired %}
          {{c.expiration_date|date:"Y-m-d"}}
        {% else %}
        <small><i>in {{c.expiration_date|timeuntil}}</i></small>
        {% endif %}
      </td>
      <td>{% if c.revoked %}{{c.revoked|date:"Y-m-d"}}{% else %}no{% endif %}</td>
      <td>{{c.validity}} days</td>
      <td>
        {% if not c.revoked and not c.expired %}
        <form action="{% url 'spkac_revoke' domain=domain serial=c.serial %}" method="POST">{% csrf_token %}
          <button type="submit">Revoke</button>
        </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" id="new_cert_row">
        <form action="{% url 'spkac_enroll' domain=domain %}" method="GET">
          <button type="submit">Get new certificate</button>
        </form>
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}
